################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/fa.todo/.vs/fa.todo/v16
/fa.todo/fa.todo.core/obj
/fa.todo/fa.todo.core/bin/Debug/net5.0
/fa.todo/fa.todo.presentation/obj
/fa.todo/fa.todo.presentation/bin/Debug/net5.0
